<!doctype html>
<html>
		<head>
				<title>Atelier Complete</title>
				<script src="js/vue.min.js"></script>
				<script src="js/director.min.js"></script>
				<script src="js/viz.js"></script>
				<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
				<link rel="stylesheet" href="css/side-menu.css">
				<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
				<div id="layout">
						<a href="#menu" id="menuLink" class="menu-link">
								<span></span>
						</a>
						<div id="app">
								<div id="menu">
										<div class="pure-menu pure-menu-open">
												<ul>	
														<li class="pure-menu-heading"><a href="#">Atelier</a></li>
														<li><a href="#/item">Items</a></li>
														<li><a href="#/path">Path Finder</a></li>
														<li><a href="#/add">Add Item</a></li>
														<li class="pure-menu-heading">Item List</li>
														<li v-repeat="Item | orderBy 'Name' | noTypes">
																<a href="#/item/{{Name | uri}}">{{Name}}</a></li>
												</ul>
										</div>
								</div>
								<div id="main">
										<div v-component="{{currentView}}" keep-alive></div>
								</div>
								<datalist id="json-datalist"></datalist>
						</div>
				</div>

				<script type="text/x-template" id="top-template">
<div class="header">
  <h1>Atelier Complete</h1>
</div>
<div class="content">
  <p>There will be lots of info here... I swear</p>
</div>
				</script>

				<script type="text/x-template" id="item-template">
<div class="header" v-with="itemView">
  <h1>{{currentItem.Name}}</h1>
</div>
<div class="content">
  <form class="pure-form pure-form-stacked">
	<div class="subhead">
	  <h2>Types</h2>
	</div>
	<input v-repeat="currentItem.Types" type="text" v-model="$value" v-on="change: changeType($value, $index)" list="json-datalist" placeholder="Item Type">
	<button v-on="click:addType" class="pure-button">Add</button>
	<div class="subhead">
	  <h2>Ingredients</h2>
	</div>
	<input v-repeat="currentItem.Ingredients" type="text" v-model="$value" v-on="change: changeIng($value, $index)" list="json-datalist" placeholder="Ingredient">
	<button v-on="click:addIng" class="pure-button">Add</button>
	<button v-on="click:postAll" class="pure-button pure-button-disabled">Post</button>
  </form>
</div>
				</script>

				<script type="text/x-template" id="path-template">
<div v-with="pathView">
  <div class="header">
	<h1>Test</h1>
  </div>
  <div class="content">
	<div>
	  <form class="pure-form">
		<input type="text" v-model="startItem" list="json-datalist" placeholder="Starting Item" lazy>
		<input type="text" v-model="destItem" list="json-datalist" placeholder="Ending Item" lazy>
		<button v-on="click:newPath" class="pure-button pure-button-primary">Get Path</button>
	  </form>
	  <ul>
		<li v-repeat="itemPath.Items">
		  <a href="#/item/{{Name | uri}}">{{Name}}</a></li>
		</li>
	  </ul>
	  <div id="pathSVG">
	  </div>
	</div>
  </div>
</div>
				</script>

				<script type="text/x-template" id="item-list-template">
<div v-with="itemListView" class="pure-g">
  <div class="header pure-u-1-1">
	<h1>Item List</h1>
  </div>
  <div class="content">
	<form class="pure-form">
	  <input type="text" v-model="itemName" list="json-datalist" placeholder="Item Name" lazy>
	  <button v-on="click: itemSearch" class="pure-button pure-button-primary">Search</button>
	</form>
	<div class="pure-u-1-2">
	<ul>
	  <li v-repeat="Items | orderBy 'Name' | noTypes">
		<a href="#/item/{{Name | uri}}">{{Name}}</a>
	  </li>
	</ul>
	</div>
	<div class="pure-u-1-2">
	<ul>
	  <li v-repeat="Items | orderBy 'Name' | typesOnly">
	<a href="#/item/{{Name | uri}}">{{Name}}</a>
	</li>
	</ul>
	</div>
  </div>
</div>
				</script>

				<script type="text/x-template" id="item-add-template">
<div v-with="itemAddView">
  <div class="header">
	<h1>Add New Item</h1>
  </div>
  <div class="content">
	<form>
	  <input type="text" placeholder="Item Name" v-model="Name" lazy>
	  <span></span>
	  <h3>Types</h3>
	  <input v-repeat="currentItem.Types" type="text" list="json-datalist" placeholder="Type" v-model="$value">
	  <button v-on"click:addType">add</button>
	  <h3>Ingrediants</h3>
	  <input v-model="Ingredients" type="text" list="json-datalist" placeholder="Ingredient">
	  <button>Add</button>
	</form>
  </div>
</div>
				</script>

				<script>
var apiURL = "/api/item";
var pathURL = "/api/path";
var dataList = document.getElementById("json-datalist");

var getData = function(itemName) {
		var xhr = new XMLHttpRequest();
		var self = this;
		xhr.open('GET', apiURL + '/' + itemName, false);
		xhr.send();
		self.currentItem = JSON.parse(xhr.responseText);
		var bla = 1;
		console.log("geting: %s", itemName);
};

Vue.filter('uri', function(value) {
		return encodeURI(value);
});

Vue.filter('noTypes', function(value) {
		var output = [];
		value.forEach( function(v) {
				if (v.Name.indexOf('(') == -1)
						output.push(v);
		})
		return output;
});

Vue.filter('typesOnly', function(value) {
		var output = [];
		value.forEach( function(v) {
				if(v.Name.indexOf('(') >= 0)
						output.push(v);
		})
		return output;
});

var topView = Vue.extend({
		template: "#top-template",
});

var itemView = Vue.extend({
		template: "#item-template",
		data:  function(){
				return { currentItem: {
						Name: "",
						Ingredients: [],
						Types: [],
				}};
		},
		created: function () {
				this.$on('showItem', function(item) {
						this.loadData(item);
						console.log('new item asked for ' + item);

				});
		}, 
		methods: {
				loadData: getData,
				addType: function () {
						var self = this;
						if (self.currentItem.Types == null) {
								self.currentItem.Types = [""];
						} else
								self.currentItem.Types.push("");
				},
				addIng: function () {
						var self = this;
						if (self.currentItem.Ingredients == null) {
								self.currentItem.Ingredients = [""];
						} else
								self.currentItem.Ingredients.push("");
				},
				changeType: function(data, number) {
						var self = this;
						self.currentItem.Types[number] = data;
						console.log(number + " - " + data);
				},
				changeIng: function(data, number) {
						var self = this;
						self.currentItem.Ingredients[number] = data;
						console.log(number + " - " + data);
				},
				postAll: function() {
						var self=this;
						var url = apiURL;
						var data = JSON.stringify(self.currentItem);
						var client = new XMLHttpRequest();
						client.open("POST", url, false);
						client.setRequestHeader("Content-type", "text/json");
						client.send(data);
						if (client.status == 200)
								alert("success");
						else 
								alert("failed "  + data);
						self.fetchData();
				},
		},
});

var pathView = Vue.extend({
		template: '#path-template',
		data: function() {
				return { itemPath: [],
						chart: "",
						startItem: "",
						destItem: "",
						list: [],
				};
		},
		events: {
				'showPath': function(start, dest) {
						this.startItem = decodeURI(start);
						this.destItem = decodeURI(dest);
						this.getPath(start, dest);
						this.getChart(start,dest);
				},
		},
		methods: {
				newPath: function() {
						window.location.href= '#/path/' + encodeURI(this.startItem) + '/' + encodeURI(this.destItem);
				},
				getPath: function(start, dest) {
						var xhr = new XMLHttpRequest();
						var self = this;
						xhr.open('GET', pathURL + '/' + start + '/' + dest, false);
						xhr.send();
						self.itemPath = JSON.parse(xhr.responseText);
				},
				getChart: function(start, dest) {
						var test = 'digraph G { a -> b; b -> c; c -> d; }'
								var svg = document.getElementById("pathSVG");
						if (this.itemPath.DotFile != "") {
								this.chart = Viz(this.itemPath.DotFile, "svg", "dot");

								svg.innerHTML = this.chart;
						} else {
								svg.innerHTML = "<h3>There is no Path</h3>";
						};
				},
		},
});

var itemListView = Vue.extend({
		template: "#item-list-template",
		data: function() {
				return {
						Items: [],
						itemName: ""
				}; 
		},
		created: function() {
				for (i=0; i < dataList.options.length -2; i++) {
						this.Items.push({Name: dataList.options[i].value });
				};
		},
		methods: {
				itemSearch: function() {
						window.location.href= "#/item/" + encodeURI(this.itemName);
				},
		},
});

var itemAddView = Vue.extend({
		template: "#item-add-template",
		data: function() {
				return {
						currentItem: { Name: "",
						Types: [""],
						Ingredients: [],
						},
				};
		},
		methods: {
				submitItem: function() {
				},
				addType: function() {
						this.currentItem.Types.push("")
				},
				addIng: function() {
						this.Ingredients.push("");
				},
		},
});

var app = new Vue({
		el: '#app',
		data: {
				currentView: 'topCon',
				Title: "Item List",
				Item: [],
		},

		components: {
				topCon: topView,
				itemCon: itemView,
				pathCon: pathView,
				itemListCon: itemListView,
				itemAddCon: itemAddView,
		},

		created:  function() {
				this.fetchData();
				currentView = 'itemCon';
				currentView = 'pathCon';
				currentView = 'itemListCon';
		},

		methods: {
				fetchData: function () {
						var xhr = new XMLHttpRequest();
						var self = this;
						xhr.open('GET', apiURL, false);
						xhr.send();
						self.Item = JSON.parse(xhr.responseText);
						self.Item.forEach(function(item) {
								var option = document.createElement('option');
								option.value = item.Name;
								dataList.appendChild(option);
						});
						var bla = 1;
				},
				showItem: function (item) {
						this.$broadcast('showItem', item);
				},
				showPath: function (start, dest) {
						this.$broadcast('showPath', start, dest);
				},
		},
});

var router = new Router({
		'/': function() {app.currentView = 'topCon'},
		'/item': function() {
				app.currentView = 'itemListCon';
		},
		'/item/:item': function(item) {
				app.currentView = 'itemCon';
				app.showItem(item);
				console.log("test: " + item);
				//app.$.view.subview = view;
		},
		'/path': function() {
				app.currentView = 'pathCon';
		},
		'/path/:start/:dest': function(start, dest) {
				app.currentView = 'pathCon';
				app.showPath(start, dest);
				console.log("path " + start + " -> " + dest);
		},
		'/add': function() {
				app.currentView = 'itemAddCon';
		}
});
router.init();
				</script>
				<script src="js/ui.js"></script>

		</body>
</html>
