<!doctype html>
<html>
<head>
	<title>Atelier Complete</title>
	<script src="js/vue.min.js"></script>
	<script src="js/director.min.js"></script>
</head>
<body>
    <div id="main">
	    <div v-component="itemVue" v-with="currentItem"></div>
	    <h1 v-component="itemVue"></p>
	    <h1>{{title|uppercase}}</h1>
	    <ul>
		    <li v-repeat="Item">
			<a href="#/{{Name}}">{{Name}}</a></li>
	    </ul>
    </div>

    <ul>
	<li><a href="#/">top</a></li>
    </ul>
    
    <script type="text/x-template" id="item-template">
<h1>{{Name}}</h1>
    <h3>Types</h3>
    <ul v-if="Types">
    <li v-repeat="Types">{{$value}}</li>
    </ul>
    <h3>Ingredients</h3>
    <ul v-if="Ingredients">
    <li v-repeat="Ingredients">{{$value}}</li>
    </ul>
    </script>
    <script>
var apiURL = "/api/item";

var getData = function(itemName) {
		var xhr = new XMLHttpRequest();
		var self = this;
		xhr.open('GET', apiURL + '/' + itemName, false);
		xhr.send();
		self.currentItem = JSON.parse(xhr.responseText);
		var bla = 1;
		console.log("geting: %s", itemName);
};

Vue.component('itemVue', {
	template: "#item-template",
	}
);

var main = new Vue({
	el: '#main',
	data: {
		currentItem: {
		Name: "",
		Ingredients: [],
		Types: [],
		},
          Title: "Item List",
	  Item: [],
	},

	created: function () {
		this.fetchData();
	},

	methods: {
		fetchData: function () {
			var xhr = new XMLHttpRequest();
			var self = this;
			xhr.open('GET', apiURL, false);
			xhr.send();
			self.Item = JSON.parse(xhr.responseText);
			var bla = 1;
		},
		loadData: getData,
	},
});

var router = new Router({
	'/': function() {main.currentView = 'top'},
	'/:item': function(item) {
		main.loadData(item);
		console.log("test: " + item);
		//main.$.view.subview = view;
	},
});
router.init();
</script>

</body>
</html>
